#header {
	background: url("images/layout-browser-hd-bg.gif") repeat-x scroll
		center center #7F99BE;
}

.tabIcon {
	background-image: url(images/tabs.gif ) !important;
}

#header h1 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	padding: 5px 10px;
}

.x-grid-cell-property {
	vertical-align: top;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}